<!DOCTYPE html>
<html>
<head>
  <title>AutocompleteSelect</title>
  <%= stylesheet_link_tag    "autocomplete_select/application", media: "all" %>
  <%= javascript_include_tag "autocomplete_select/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
